{%  extends 'base.html.twig' %}

{% block body %}
    <h1>Connexion</h1>

    <form action="{{ path('security_login') }}" method="post">
        <div class="">
            <input placeholder="votre adresse mail" type="text" required name="_username">
        </div>

        <div class="">
            <input placeholder="votre mot de passe" type="password" required name="_password">
        </div>

        <div class="">
            <button  type="submit" >Connexion</button>
        </div>
    </form>
{% endblock %}