{% extends './baseAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_dashboard') }}
{% endblock %}
{% block body %}
<div class="sectionDashboard">
    <h1>Bienvenue sur le tableau de board de la Bel</h1>

    <div id="meteo">

    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    {{ encore_entry_script_tags('admin_dashboard') }}
{% endblock %}